.meus-filmes{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.meus-filmes ul{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.meus-filmes ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top:  1rem;
}

.meus-filmes ul li img {
    margin-bottom: 1rem;
}

.meus-filmes ul li span{
    margin-bottom: 1rem;
    font-weight: bold;
}

.meus-filmes ul li button {
    font-size: 1.2rem;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0,5s;
    font-weight: bold;
    background: #f57d6d;
    margin-left: 10px;
  }

  .meus-filmes ul li img{
    width: 240px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  
